.button {
    height: 35px;
    width: 55px;
    margin: 3px;
    align-self: center;
    border-radius: 2px;
    opacity: .8;
    &.pressed {
        opacity: 1;
    }
}

.button--orange {
    @extend .button;
    background-color: $button-orange-clr;
}

.button--yellow {
    @extend .button;
    background-color: $button-yellow-clr;
}

.button-container {
    align-self: center;
    text-align: center;
}

.button-container--top {
    @extend .button-container;
    align-self: flex-start;
    margin-top: 30px;
    .led {
        margin-top: 55px;
    }
    .button {
        &:first-of-type {
            margin-top: 80px;
        }
        margin-top: 10px;
    }
    .switch {
        margin-top: 5px;
    }
}