.click-menu {
    border: 2px solid $led-off-clr;
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    max-width: 200px;
    background-color: white;
    z-index: 9999;
    ul {
        list-style: none;
        margin: 0;
        width: 100%;
        padding: 0;
        li {
            position: relative;
            float: left;
            display: block;
            padding: 5px 5px 5px 20px;
            margin-bottom: 5px;
            background-color: white;
            cursor: pointer;
            margin: 0;
            width: 100%;
            color: black;
            box-sizing: border-box;
            i {
                float: right;
                padding-right: 10px;
            }
            ul {
                display: none;
                left: 100%;
                top: 0;
            }
            &:hover {
                background-color: $highlight-clr;
                color: white;
                > ul {
                    display: block;
                    position: absolute;
                }
                li {
                    float: none;
                }
            }
        }
    }
}

.click-menu--shown {
    @extend .click-menu;
    display: block;
}

.click-menu__header {
    margin: 5px;
    color: black;
    border-bottom: 1px solid grey;
    &:hover {
        
    }
}