/* COLORS */
$synth-body-clr: #5A5F66;
$module-border-clr: white;
$module-header-clr: #BC4016;
$module-header-text-clr: white;
$led-off-clr: #800000;
$led-on-clr: #CC3300;
$button-orange-clr: #FF9933;
$button-yellow-clr: #FFE0A3;
$fader-knob-clr: #33353C;
$fader-knob-line-clr: #CFCFCF;
$highlight-clr: #99CCFF;