.header {
    text-align: center;
    margin: 10px;
}

.header__title {
    color: $led-on-clr;
    >i {
        vertical-align: middle;
        cursor: pointer;
    }
}

.header__link {
    color: white;
    &:hover {
        color: $led-on-clr;
    }
}

.header__patch-name {
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
}

.header__name-input {
    display: none;
    width: 160px;
    height: 20px;
    vertical-align: middle;
    font-size: 20px;
    padding: 2px;
    margin: 2px;
}