/* COLORS */
$synth-body-clr: #5A5F66;
$module-border-clr: white;
$module-header-clr: #BC4016;
$module-header-text-clr: white;
$led-off-clr: #800000;
$led-on-clr: #CC3300;
$button-orange-clr: #FF9933;
$button-yellow-clr: #FFE0A3;
$fader-knob-clr: #393B43;
$fader-knob-line-clr: #CFCFCF;

/* BORDERS */
$module-border: 1px;
$border-radius: 8px;

/* TEXT */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);
$header-size: 25px;
$header-line-height: 30px;
$label-size: 16px;

body {
    background-color: black;
}

div {
    user-select: none;
}

p {
    color: white;
    font-family: 'Raleway';
    font-weight: 600;
    margin: 5px;
}

.juno {
    background-color: $synth-body-clr;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    width: 1024px;
}

.module {
    margin: 0 2px;
    text-align: center;
    height: 300px;
    min-width: 100px;
    &.one {
        flex: 1 0 auto;
        width: 7%;
    }
    &.two {
        flex: 2 0 auto;
        width: 13%;
    }
    &.three {
        flex: 3 0 auto;
        width: 15%;
    }
    &.four {
        flex: 4 0 auto;
        width: 20%;
    }
    &.six {
        flex: 6 0 auto;
        width: 30%;
    }
    &.eight {
        flex: 8 0 auto;
        width: 50%;
    }
    &:first-child, &:nth-child(4) {
        >.module__back {
        border-left: none;
        }  
    }
    &:last-child, &:nth-child(3) {
        >.module__back {
        border-right: none;
        }
    }
}

.module__header {
    text-align: center;
    line-height: $header-line-height;
    background-color: $module-header-clr;
    color: $module-header-text-clr;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: $header-size;
    height: 10%;
}

.module__back {
    height: 88%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 2px -2px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.fader__scale {
    background: repeating-linear-gradient(
        0deg,
        white,
        white 2px,
        transparent 3px,
        transparent 20px
    );
    height: 100%;
    width: 85%;
    margin: auto;
    display: flex;
    align-self: center;
    &.env {
        .fader__slot {
            margin: 5% auto 0 auto;
        }
    }
}

.fader__scale--hpf {
    @extend .fader__scale;
    background: repeating-linear-gradient(
        0deg,
        white,
        white 2px,
        transparent 3px,
        transparent 50px
    );
    margin-top: -20px;
    width: 75%;
    >.fader__slot {
        margin-top: 50px;
    }
}

.fader {
    align-self: center;
    margin: auto;
    height: 75%;
    width: 100%;
    &.two {
        width: 27%;
    }
    &.three {
        width: 55%;
    }
    &.vcf {
        width: 35%;
    }
}

.fader__slot {
    width: 10px;
    background-color: black;
    height: 97%;
    margin: 10% auto 0 auto;
    border-radius: $border-radius;
    align-self: center;
    position: relative;
}

.fader__knob {
    position: absolute;
    top: 173px;
    left: -17px;
    background-color: $fader-knob-clr;
    border-radius: 5px;
    width: 44px;
    height: 22px;
    display: flex;
    align-self: flex-start;
}

hr {
    width: 100%;
    background-color: $fader-knob-line-clr;
    border-radius: 2px;
    font-weight: 200;
    height: 2px;
}

.control-label {
    font-family: 'Raleway', sans-serif;
    font-size: $label-size;
    font-weight: bold;
    color: $module-header-text-clr;
    width: 22%;
    &.lfo {
        width: 36%;
        margin: auto;
    }
    &.DCO {
        width: 13%;
        margin: 0 6px;
    }
}

.button {
    height: 35px;
    width: 55px;
    margin: 3px;
    align-self: center;
    border-radius: 2px;
    opacity: .8;
    &.pressed {
        opacity: 1;
    }
}

.button--orange {
    @extend .button;
    background-color: $button-orange-clr;
}

.button--yellow {
    @extend .button;
    background-color: $button-yellow-clr;
}

.button-container {
    align-self: center;
    text-align: center;
}

.knob-container--range {
    @extend .button-container;
    position: relative;
    margin-top: 50px;
    display: flex;
    flex-flow: column wrap;
    height: 90px;
    .switch {
        height: 80px;
        position: relative;
        .switch__knob {
            top: 39%;
            position: absolute;
        }
    }
}

.knob-container--pwm {
    @extend .button-container;
    position: relative;
    top: 20px;
    margin: auto;
}

.button-container--top {
    @extend .button-container;
    align-self: flex-start;
    margin-top: 30px;
    .led {
        margin-top: 55px;
    }
    .button {
        &:first-of-type {
            margin-top: 80px;
        }
        margin-top: 10px;
    }
    .switch {
        margin-top: 5px;
    }
}

.switch {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    height: 40px;
    width: 10px;
    background-color: black;
    margin:auto;
}

.switch__knob {
    background-color: white;
    position: absolute;
    border-radius: 10px;
    width: 90%;
    height: 12px;
}

.label {
    display:inline-block;
    margin: 0 8px;
    &.env {
        width: 16%;
    }
}

.led {
    background-color: $led-off-clr;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin: 15px auto;
    &.lit {
        background-color: $led-on-clr;
        box-shadow: 0px 0px 8px $led-on-clr;
    }
}

.line {
    width: 2px;
    background-color: white;
    margin: auto;
}

.line--chorus {
    @extend .line;
    height: 65px;
}

.range {
    margin: 3px 0px 8px 5px;
}

.keyboard {
    width: 100%;
    height: 150px;
    background-color: white;
    border: 5px solid $fader-knob-line-clr ;
}