.knob-container--range {
    @extend .button-container;
    position: relative;
    margin-top: 60px;
    display: flex;
    flex-flow: column wrap;
    height: 110px;
    .switch {
        height: 80px;
        position: relative;
    }
}

.knob-container--pwm {
    @extend .button-container;
    position: relative;
    top: 41px;
    margin: 50px auto 0;
    height: 38%;
    display: inline-block;
}

.knob-container--vca {
    @extend .knob-container--pwm;
    vertical-align: top;
    top: 0;
}