.module-container {
    display: flex;
    flex-flow: column wrap;
}

.control {
    display: flex;
    flex-flow: row wrap;
}

.module-row {
    text-align: center;
    display: block;
    width: 100%;
}

.module {
    text-align: center;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 -3px;
    &.one {
        width: 10%;
    }
    &.two {
        width: 15%;
    }
    &.three {
        width: 20%;
    }
    &.four {
        width: 30%;
    }
    &.five {
        width: 35%;
    }
    &.six {
        width: 40%;
    }
    &.seven {
        width: 50%;
    }
}

.module__header {
    text-align: center;
    line-height: $header-line-height;
    background-color: $module-header-clr;
    height: 10%;
    margin: 0 3px;
    width: 100%;
}

.module__back {
    height: 88%;
    margin: 2px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center
}

.module__control-group {
    height: 88%;
    flex: 1 0 auto;
    &:nth-child(2) {
        border-left: 2px solid white;
    }
    &:last-child {
        border-right: 2px solid white;
    }
}

.module__switch-control-group {
    @extend .module__control-group;
    flex: 0 1 10%;
    margin-top: 6px;
}