.share-info {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 0;
}

.share-info__icon {
    vertical-align: middle;
    cursor: pointer;
}

.share-info__item {
    font-size: 20px;
    padding: 10px;
}