.switch {
    display: inline-block;
    position: relative;
    border-radius: 10px;
    height: 40px;
    width: 10px;
    background-color: black;
    margin:auto;
}

.switch__knob {
    background-color: white;
    position: absolute;
    border-radius: 10px;
    width: 90%;
    height: 12px;
    transition: all .25s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 15px red;
    }
}

.switch__knob--up {
    @extend .switch__knob;
    top: 0%;
    bottom: 90%;
}

.switch__knob--down {
    @extend .switch__knob;
    bottom: 0%;
    top: 90%;
}

.switch__knob--middle {
    @extend .switch__knob;
    top: 39%;
    bottom: 39%;
}