.switch {
    display: block;
    position: relative;
    border-radius: 10px;
    height: 40px;
    width: 10px;
    background-color: black;
    margin: 15px auto;
}

.switch__knob {
    background-color: white;
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 15px;
    transition: all .1s;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 20px $led-off-clr;
    }
    &.dragging {
        box-shadow: 0 0 15px $led-off-clr;
        border: 1px solid $led-on-clr;
    }
}