/* COLORS */
/* BORDERS */
/* TEXT */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);
body {
  background-color: black;
}

div, section {
  user-select: none;
  height: inherit;
}

p {
  color: white;
  font-family: 'Raleway';
  font-weight: 600;
  margin: 5px;
}

.juno {
  background-color: #5A5F66;
  margin: auto;
  width: 1024px;
}

.module-container {
  display: flex;
  flex-flow: row wrap;
}

.module {
  margin: 0 2px;
  text-align: center;
  height: 300px;
  min-width: 100px;
}
.module.one {
  flex: 1 0 auto;
  width: 7%;
}
.module.two {
  flex: 2 0 auto;
  width: 13%;
}
.module.three {
  flex: 3 0 auto;
  width: 15%;
}
.module.four {
  flex: 4 0 auto;
  width: 20%;
}
.module.six {
  flex: 6 0 auto;
  width: 30%;
}
.module.eight {
  flex: 8 0 auto;
  width: 47%;
}
.module:first-child > .module__back, .module:nth-child(4) > .module__back {
  border-left: none;
}
.module:last-child > .module__back, .module:nth-child(3) > .module__back {
  border-right: none;
}

.module__header {
  text-align: center;
  line-height: 30px;
  background-color: #BC4016;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 25px;
  height: 10%;
}

.module__back {
  height: 88%;
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin: 2px -2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fader__scale, .fader__scale--hpf {
  background: repeating-linear-gradient(0deg, white, white 2px, transparent 3px, transparent 20px);
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  align-self: center;
}
.fader__scale.env .fader__slot, .env.fader__scale--hpf .fader__slot {
  margin: 5% auto 0 auto;
}

.fader__scale--hpf {
  background: repeating-linear-gradient(0deg, white, white 2px, transparent 3px, transparent 50px);
  margin-top: -20px;
  width: 75%;
}
.fader__scale--hpf > .fader__slot {
  margin-top: 50px;
}

.fader {
  margin: auto;
  height: 75%;
  width: 100%;
}
.fader.two {
  width: 27%;
}
.fader.three {
  width: 55%;
}
.fader.vcf {
  width: 35%;
}

.fader__slot {
  width: 10px;
  background-color: black;
  height: 97%;
  margin: 10% auto 0 auto;
  border-radius: 8px;
  align-self: center;
  position: relative;
}

.fader__knob {
  position: absolute;
  top: 173px;
  left: -17px;
  background-color: #393B43;
  border-radius: 5px;
  width: 44px;
  height: 22px;
  display: flex;
  align-self: flex-start;
}
.fader__knob.dragging {
  box-shadow: 0 0 7px white;
}

hr {
  width: 100%;
  background-color: #CFCFCF;
  border-radius: 2px;
  font-weight: 200;
  height: 2px;
}

.button, .button--orange, .button--yellow {
  height: 35px;
  width: 55px;
  margin: 3px;
  align-self: center;
  border-radius: 2px;
  opacity: .8;
}
.button.pressed, .pressed.button--orange, .pressed.button--yellow {
  opacity: 1;
}

.button--orange {
  background-color: #FF9933;
}

.button--yellow {
  background-color: #FFE0A3;
}

.button-container, .button-container--top, .knob-container--range, .knob-container--pwm {
  align-self: center;
  text-align: center;
}

.button-container--top {
  align-self: flex-start;
  margin-top: 30px;
}
.button-container--top .led {
  margin-top: 55px;
}
.button-container--top .button, .button-container--top .button--orange, .button-container--top .button--yellow {
  margin-top: 10px;
}
.button-container--top .button:first-of-type, .button-container--top .button--orange:first-of-type, .button-container--top .button--yellow:first-of-type {
  margin-top: 80px;
}
.button-container--top .switch {
  margin-top: 5px;
}

.switch {
  display: inline-block;
  position: relative;
  border-radius: 10px;
  height: 40px;
  width: 10px;
  background-color: black;
  margin: auto;
}

.switch__knob, .switch__knob--up, .switch__knob--down, .switch__knob--middle {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  width: 90%;
  height: 12px;
  transition: all .25s;
}

.switch__knob--up {
  top: 0%;
  bottom: 90%;
}

.switch__knob--down {
  bottom: 0%;
  top: 90%;
}

.switch__knob--middle {
  top: 39%;
  bottom: 39%;
}

.knob-container--range {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-flow: column wrap;
  height: 90px;
}
.knob-container--range .switch {
  height: 80px;
  position: relative;
}

.knob-container--pwm {
  position: relative;
  top: 20px;
  margin: auto;
  height: 38%;
}

.control-label {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 22%;
}
.control-label.lfo {
  width: 36%;
  margin: auto;
}
.control-label.DCO {
  width: 13%;
  margin: 0 6px;
}

.label {
  display: inline-block;
  margin: 0 6px;
}
.label.env {
  width: 20%;
}

.led {
  background-color: #800000;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 15px auto;
}
.led.lit {
  background-color: #CC3300;
  box-shadow: 0px 0px 8px #CC3300;
}

.line, .line--chorus {
  width: 2px;
  background-color: white;
  margin: auto;
}

.line--chorus {
  height: 65px;
}

.range {
  margin: 3px 0px 8px 5px;
}

.keyboard-container {
  margin-top: 15px;
}

/*# sourceMappingURL=style.css.map */
