/* COLORS */
/* BORDERS */
/* TEXT */
@import url(http://fonts.googleapis.com/css?family=Raleway:400,600,700);
body {
  background-color: black;
}

div, section {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  height: inherit;
  box-sizing: border-box;
}

p, span {
  color: white;
  font-family: 'Raleway';
  font-weight: 600;
  margin: 5px;
}

.juno {
  background-color: #5A5F66;
  margin: auto;
  width: 1024px;
}

h4 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 25px;
  margin: 0;
}

.readme {
  text-align: center;
  margin: 5px;
}

.readme__title {
  color: #800000;
}

.readme__link {
  color: #800000;
  text-decoration: none;
}
.readme__link:hover {
  color: #CC3300;
  text-decoration: underline;
}

.module-container {
  display: flex;
  flex-flow: column wrap;
}

.control {
  display: flex;
  flex-flow: row wrap;
}

.module-row {
  text-align: center;
  display: block;
  width: 100%;
}

.module {
  text-align: center;
  height: 300px;
  display: inline-block;
  vertical-align: top;
  margin: 0 -3px;
}
.module.one {
  width: 10%;
}
.module.two {
  width: 15%;
}
.module.three {
  width: 20%;
}
.module.four {
  width: 30%;
}
.module.five {
  width: 35%;
}
.module.six {
  width: 40%;
}
.module.seven {
  width: 50%;
}

.module__header, .module__header--first, .module__header--last {
  text-align: center;
  line-height: 30px;
  background-color: #BC4016;
  height: 10%;
  margin: 0 3px;
  width: 100%;
}

.module__header--first {
  margin-left: 0;
}

.module__header--last {
  margin-right: 0;
}

.module__back {
  height: 88%;
  margin: 2px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.module__control-group, .module__switch-control-group {
  height: 88%;
  flex: 1 0 auto;
}
.module__control-group:nth-child(2), .module__switch-control-group:nth-child(2) {
  border-left: 2px solid white;
}
.module__control-group:last-child, .module__switch-control-group:last-child {
  border-right: 2px solid white;
}

.module__switch-control-group {
  flex: 0 1 10%;
  margin-top: 6px;
}

.fader-container, .fader-container--slim {
  height: 75%;
  width: 95%;
  margin: auto;
  display: inline-block;
}

.fader-container--slim {
  width: 55%;
}

.fader__scale, .fader__scale--hpf {
  background: repeating-linear-gradient(0deg, white, white 2px, transparent 3px, transparent 20px);
  height: 100%;
  width: 95%;
  margin: auto;
  display: flex;
  align-self: center;
}

.fader__scale--hpf {
  background: repeating-linear-gradient(0deg, white, white 2px, transparent 3px, transparent 50px);
  margin-top: -20px;
  width: 75%;
}
.fader__scale--hpf > .fader__slot {
  margin-top: 50px;
}

.fader {
  margin: auto;
  height: 100%;
  width: 100%;
}

.fader__slot {
  width: 10px;
  background-color: black;
  height: 89%;
  margin: 10% auto 0 auto;
  border-radius: 8px;
  align-self: center;
  position: relative;
}

.env .fader__slot {
  margin-top: 10px;
}

.fader__knob {
  position: absolute;
  top: 173px;
  left: -17px;
  background-color: #393B43;
  border-radius: 5px;
  width: 44px;
  height: 22px;
  display: flex;
  align-self: flex-start;
  cursor: pointer;
}
.fader__knob:hover {
  box-shadow: 0 0 7px white;
}
.fader__knob.dragging {
  border: 1px dashed #CC3300;
  box-shadow: 0 0 7px white;
}

hr {
  width: 100%;
  background-color: #CFCFCF;
  border-radius: 2px;
  font-weight: 200;
  height: 2px;
}

.button, .button--orange, .button--yellow {
  height: 35px;
  width: 55px;
  margin: 10px 3px 3px 3px;
  align-self: center;
  border-radius: 2px;
  opacity: .8;
  cursor: pointer;
}
.button:first-of-type, .button--orange:first-of-type, .button--yellow:first-of-type {
  margin: 80px 3px 3px 3px;
}
.button.pressed, .pressed.button--orange, .pressed.button--yellow {
  opacity: 1;
}
.button:hover, .button--orange:hover, .button--yellow:hover {
  box-shadow: 0 0 7px white;
}

.button--orange {
  background-color: #FF9933;
}

.button--yellow {
  background-color: #FFE0A3;
}

.button--midi {
  height: 25px;
  width: 60px;
  display: inline-block;
  margin: 5px;
  background-color: #800000;
  color: white;
  border-radius: 4px;
  opacity: .7;
  cursor: pointer;
}
.button--midi.pressed {
  box-shadow: 0 0 7px white;
  opacity: 1;
}
.button--midi:hover {
  opacity: 1;
}

.button-container, .knob-container--range, .knob-container--pwm, .knob-container--vca {
  display: flex;
  justify-content: center;
  height: 75%;
}

.button-container--top {
  margin-top: 10px;
  display: inline-block;
}

.switch {
  display: block;
  position: relative;
  border-radius: 10px;
  height: 40px;
  width: 10px;
  background-color: black;
  margin: 15px auto;
}

.switch__knob, .switch__knob--up, .switch__knob--down, .switch__knob--middle {
  background-color: white;
  position: absolute;
  border-radius: 10px;
  width: 90%;
  height: 12px;
  transition: all .25s;
  cursor: pointer;
}
.switch__knob:hover, .switch__knob--up:hover, .switch__knob--down:hover, .switch__knob--middle:hover {
  box-shadow: 0 0 15px red;
}

.switch__knob--up {
  top: 0%;
  bottom: 90%;
}

.switch__knob--down {
  bottom: 0%;
  top: 90%;
}

.switch__knob--middle {
  top: 39%;
  bottom: 39%;
}

.knob-container--range {
  position: relative;
  margin-top: 60px;
  display: flex;
  flex-flow: column wrap;
  height: 110px;
}
.knob-container--range .switch {
  height: 80px;
  position: relative;
}

.knob-container--pwm, .knob-container--vca {
  position: relative;
  top: 41px;
  margin: 50px auto 0;
  height: 38%;
  display: inline-block;
}

.knob-container--vca {
  vertical-align: top;
  top: 0;
}

.label {
  display: inline-block;
  margin: 0 5%;
  font-size: 15px;
  vertical-align: middle;
}

.label--wide {
  display: inline-block;
  margin: 0 9.5%;
}

.wave-label {
  font-size: 15px;
  display: inline-block;
  margin: 5px 0 20px;
}

.label-container {
  height: 10%;
  margin: 15px 0 0 0;
}

.led, .led--lit {
  background-color: #800000;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 35px auto;
}

.led--lit {
  background-color: #CC3300;
  box-shadow: 0px 0px 8px #CC3300;
}

.line, .line--chorus {
  width: 2px;
  background-color: white;
  margin: auto;
}

.line--chorus {
  height: 65px;
}

.range {
  margin-top: 8px;
}

/*# sourceMappingURL=style.css.map */
