<div class="bbm-modal__topbar">
    <h3 class="bbm-modal__title">{{name}}</h3>
</div>

<div class="bbm-modal__section">
    <ul class="share-info"> 
        <li class="share-info__item">Click here: <i class="fa fa-3x fa-share-square clip-button js-share share-info__icon" data-clipboard-text="{{url}}"></i> to copy your patch URL.</li>
        <li class="share-info__item">Paste the URL to share your patch!</li>
    </ul>
</div>

<div class="bbm-modal__bottombar">
    <a href="javascript:;" class="js-close bbm-button">CLOSE</a>
</div>