<div class="page-wrapper">
    <div id="top-bar"></div>
    <div id="reg-content">
        <p>TEST</p>
    </div>
</div>
<footer id="reg-footer" class="primary-footer"></footer>

<section id="reg-modal"></section>