<div class="module__header">CHORUS</div>
<div class="module__back">
    <div class="button-container--top">
        <p>OFF</p>
        <div class="line--chorus"></div>
        <div class="button button--yellow pressed js-chorus" data-param="chorus" data-value="0"></div>
    </div>
    <div class="button-container--top">
        <p>I</p>
        <div class="led"></div>
        <div class="button button--orange js-chorus" data-param="chorus" data-value="1"></div>
    </div><div class="button-container--top">
        <p>II</p>
        <div class="led"></div>
        <div class="button button--orange js-chorus" data-param="chorus" data-value="2"></div>
    </div>  
</div>