<div class="module__header">DCO</div>
<div class="module__back">
    <div class="button-container--top">
        <p class="range">RANGE</p>
        <div class="knob-container--range">
            <p class="range">4'</p>
            <p class="range">8'</p>
            <p class="range">16'</p>
            <div class="switch">
                <div class="switch__knob"></div>
            </div>
        </div>
    </div>
    <div class="fader two">
        <p class="label">LFO</p>
        <p class="label">PWM</p>
        <div class="fader__scale">
            <div class="fader__slot">
                <div class="fader__knob">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div class="knob-container--pwm">
        <p>LFO</p>
        <div class="switch">
            <div class="switch__knob">
            </div>
        </div>
        <p>MAN</p>
    </div>
<div class="button-container--top">    
    <p>PULSE</p>
    <div class="led"></div>
    <div class="button button--yellow"></div>
</div>
<div class="button-container--top">
    <p>SAW</p>
    <div class="led"></div>
    <div class="button button--yellow"></div>
</div>
    <div class="fader two">
        <p class="label">SUB</p>
        <p class="label">&nbsp;&nbsp;&nbsp;NOISE</p>
        <div class="fader__scale">
            <div class="fader__slot">
                <div class="fader__knob">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>