<div class="module__header">ENV</div>
<div class="module__back">
    <div class="fader">  
        <p class="label env">A</p>
        <p class="label env">D</p>
        <p class="label env">S</p>
        <p class="label env">R</p>
        <div class="fader__scale env">
            <div class="fader__slot">
                <div class="fader__knob" data-param="a">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob" data-param="d">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob" data-param="s">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob" data-param="r">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>