<div class="module__header">
    <h4>ENV</h4>
</div>
<div class="module__back">
    <div class="fader">  
        <p class="label env">A</p>
        <p class="label env">D</p>
        <p class="label env">S</p>
        <p class="label env">R</p>
        <div class="fader__scale env">
            <div class="fader__slot">
                <div class="fader__knob" data-param="env-attack">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob" data-param="env-decay">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob" data-param="env-sustain">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob" data-param="env-release">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>