<div class="module__header">
    <h4>ENV</h4>
</div>
<div class="module__control-group">
    <div class="label-container">
        <span class="label--wide">A</span>
        <span class="label--wide">D</span>
        <span class="label--wide">S</span>
        <span class="label--wide">R</span>
    </div>
    
    <div class="fader-container">
        <div class="fader">  
            <div class="fader__scale--heavy"></div>
            <div class="fader__scale--light">
                <div class="fader__slot">
                    <div class="fader__knob" data-param="env-attack" title="Envelope attack">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob" data-param="env-decay" title="Envelope decay">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob" data-param="env-sustain" title="Envelope sustain">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob" data-param="env-release" title="Envelope release">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>