<h4>
    <a class="header__link" href="https://github.com/stevengoldberg/juno106/blob/master/README.md">README</a> // <span class="header__title">106.js</span> : 
    <span class="header__title header__patch-name js-patch-name">{{patchName}} </span><input class="js-edit-patch-name header__name-input" maxlength="16">
    <span class="header__title"><i class="js-edit-icon fa fa-pencil-square-o"></i></span> // 
    <a href="javascript:;" class="header__link js-init">RESET</a> // <a href="javascript:;" class="header__link js-share-patch">SHARE</a>
</h4>