<div class="module__header--first">
    <h4>HPF</h4>
</div>
<div class="module__control-group">
    <div class="label-container">
        <span class="label">FREQ</span>
    </div>
    <div class="fader-container">
        <div class="fader">
            <div class="fader__scale--hpf">
                <div class="fader__slot">
                    <div class="fader__knob" data-param="hpf-cutoff" data-value="0" title="HPF cutoff">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>