<div class="module__header">HPF</div>
<div class="module__back">
    <div class="fader">
        <p class="label">FREQ</p>
        <div class="fader__scale--hpf">
            <div class="fader__slot">
                <div class="fader__knob" data-param="hpf-freq" data-value="0">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>