<li class="white-key" id="C3" title="C"><span class="key-label--white" id="Z_">Z</span></li>
<li class="black-key" id="C#3" title="C#"><span class="key-label--black" id="S_">S</span></li>
<li class="white-key" id="D3" title="D"><span class="key-label--white" id="X_">X</span></li>
<li class="black-key" id="D#3" title="D#"><span class="key-label--black" id="D_">D</span></li>
<li class="white-key" id="E3" title="E"><span class="key-label--white" id="C_">C</span></li>
<li class="white-key" id="F3" title="F"><span class="key-label--white" id="V_">V</span></li>
<li class="black-key" id="F#3" title="F#"><span class="key-label--black" id="G_1_">G</span></li>
<li class="white-key" id="G3" title="G"><span class="key-label--white" id="B_Q_">B</span></li>
<li class="black-key" id="G#3" title="G#"><span class="key-label--black" id="H_2_">H</span></li>
<li class="white-key" id="A3" title="A"><span class="key-label--white" id="N_W_">N</span></li>
<li class="black-key" id="A#3" title="A#"><span class="key-label--black" id="J_3_">J</span></li>
<li class="white-key" id="B3" title="B"><span class="key-label--white" id="M_E_">M</span></li>
<li class="white-key" id="C4" title="C"><span class="key-label--white" id=",_R_">,</span></li>

<li class="black-key" id="C#4" title="C#"><span class="key-label--black" id="5_L_">5</span></li>
<li class="white-key" id="D4" title="D"><span class="key-label--white" id="T_._">T</span></li>
<li class="black-key" id="D#4" title="D#"><span class="key-label--black" id="6_;_">6</span></li>
<li class="white-key" id="E4" title="E"><span class="key-label--white" id="Y_/_">Y</span></li>
<li class="white-key" id="F4" title="F"><span class="key-label--white" id="U_">U</span></li>
<li class="black-key" id="F#4" title="F#"><span class="key-label--black" id="8_">8</span></li>
<li class="white-key" id="G4" title="G"><span class="key-label--white" id="I_">I</span></li>
<li class="black-key" id="G#4" title="G#"><span class="key-label--black" id="9_">9</span></li>
<li class="white-key" id="A4" title="A"><span class="key-label--white" id="O_">O</span></li>
<li class="black-key" id="A#4" title="A#"><span class="key-label--black" id="0_">0</span></li>
<li class="white-key" id="B4" title="B"><span class="key-label--white" id="P_">P</span></li>
<li class="white-key" id="C5" title="C"><span class="key-label--white" id="[_">[</span></li>