<li class="white-key" id="C4" title="C"><span class="key-label--white" id="Z">Z</span></li>
<li class="black-key" id="C#4" title="C#"><span class="key-label--black" id="S">S</span></li>
<li class="white-key" id="D4" title="D"><span class="key-label--white" id="X">X</span></li>
<li class="black-key" id="D#4" title="D#"><span class="key-label--black" id="D">D</span></li>
<li class="white-key" id="E4" title="E"><span class="key-label--white" id="C">C</span></li>
<li class="white-key" id="F4" title="F"><span class="key-label--white" id="V">V</span></li>
<li class="black-key" id="F#4" title="F#"><span class="key-label--black" id="G">G</span></li>
<li class="white-key" id="G4" title="G"><span class="key-label--white" id="B">B</span></li>
<li class="black-key" id="G#4" title="G#"><span class="key-label--black" id="H">H</span></li>
<li class="white-key" id="A4" title="A"><span class="key-label--white" id="N">N</span></li>
<li class="black-key" id="A#4" title="A#"><span class="key-label--black" id="J">J</span></li>
<li class="white-key" id="B4" title="B"><span class="key-label--white" id="M">M</span></li>
<li class="white-key" id="C5" title="C"><span class="key-label--white" id=",">,</span></li>

<li class="black-key" id="C#5" title="C#"><span class="key-label--black" id="5">5</span></li>
<li class="white-key" id="D5" title="D"><span class="key-label--white" id="T">T</span></li>
<li class="black-key" id="D#5" title="D#"><span class="key-label--black" id="6">6</span></li>
<li class="white-key" id="E5" title="E"><span class="key-label--white" id="Y">Y</span></li>
<li class="white-key" id="F5" title="F"><span class="key-label--white" id="U">U</span></li>
<li class="black-key" id="F#5" title="F#"><span class="key-label--black" id="8">8</span></li>
<li class="white-key" id="G5" title="G"><span class="key-label--white" id="I">I</span></li>
<li class="black-key" id="G#5" title="G#"><span class="key-label--black" id="9">9</span></li>
<li class="white-key" id="A5" title="A"><span class="key-label--white" id="O">O</span></li>
<li class="black-key" id="A#5" title="A#"><span class="key-label--black" id="0">0</span></li>
<li class="white-key" id="B5" title="B"><span class="key-label--white" id="P">P</span></li>
<li class="white-key" id="C6" title="C"><span class="key-label--white" id="[">[</span></li>