<div class="module__header">LFO</div>
<div class="module__back">
    <div class="fader">
        <p class="label">RATE</p>
        <p class="label">DELAY</p>
        <div class="fader__scale">
            <div class="fader__slot">
                <div class="fader__knob" data-param="lfo-rate" data-value="0">
                    <hr>
                </div>
            </div>
            <div class="fader__slot">
                <div class="fader__knob">
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>  