<div class="module__header">
    <h4>LFO</h4>
</div>
        
<div class="module__control-group">
    <div class="label-container">
        <span class="label">RATE</span>
        <span class="label">DELAY</span>
    </div>
    <div class="fader-container">
        <div class="fader">
            <div class="fader__scale">
                <div class="fader__slot">
                    <div class="fader__knob" data-param="lfo-rate" data-value="0">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob" data-param="lfo-delay" data-value="0">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  