<p class="label">MIDI</p>
<select class="js-active-midi">
    {{#if midi}}
        <option disabled default>Select MIDI Input</option>
        {{#each inputs}}
        <option>{{this.name}}</option>
        {{/each}}
    {{else}}
        <option disabled>No MIDI detected</option>
    {{/if}}
</select>