<div class="button--midi {{#if midi}} pressed {{/if}}" {{#unless midi}} title="No MIDI access -- see README for instructions" {{/unless}}>
    <span class="label js-midi-label">MIDI {{#if midi}}<i class="fa fa-check js-midi-success"></i> 
    {{else}}<i class="fa fa-times js-midi-error"></i>{{/if}}
    <i class="fa fa-spinner fa-spin js-midi-spinner"></i></span>
</div>
<select class="midi-select js-active-midi">
    {{#if midi}}
        <option disabled default>Select MIDI Input</option>
        {{#each inputs}}
        <option>{{this.name}}</option>
        {{/each}}
    {{else}}
        <option disabled>No MIDI detected</option>
    {{/if}}
</select>