<div class="readme">
    <h4>
        <a class="readme__link" href="https://github.com/stevengoldberg/juno106/blob/master/README.md">README</a> // <span class="readme__title">106.js</span> // 
        <a href="javascript:;" class="readme__link js-init">RESET</a>
    </h4>
</div>