<div class="readme">
    <h4>
        <span class="readme__title">JUNO-106.js</span> | <a class="readme__link" href="https://github.com/stevengoldberg/juno106/blob/master/README.md">README</a> | 
        <a href="javascript:;" class="readme__link js-init">Reset</a>
    </h4>
</div>