<div class="module__header">VCA</div>
    <div class="module__back">
        <div class="knob-container--pwm">
            <p>ENV</p>
            <div class="switch">
                <div class="switch__knob--down"></div>
            </div>
            <p>GATE</p>
        </div>
        <div class="fader three">
            <p class="label">LEVEL</p>
            <div class="fader__scale">
                <div class="fader__slot">
                    <div class="fader__knob" data-param="vcaLevel">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>