<div class="module__header">
    <h4>VCA</h4>
</div>
<div class="module__control-group">
    <div class="label-container">
        <span class="label">LEVEL</span>
    </div>
    <div class="knob-container--vca">
        <p>ENV</p>
        <div class="switch" data-param="env-enabled" data-value="0">
            <div class="switch__knob--down" title="Env/Gate"></div>
        </div>
        <p>GATE</p>
    </div>
    <div class="fader-container--slim">
        <div class="fader">    
            <div class="fader__scale--heavy"></div>
            <div class="fader__scale--light">
                <div class="fader__slot">
                    <div class="fader__knob" data-param="vca-level" title="VCA level">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>