<div class="module__header">VCF</div>
    <div class="module__back">
        <div class="fader vcf">
            <p class="label">FREQ</p>
            <p class="label">RES</p>
            <div class="fader__scale">
                <div class="fader__slot">
                    <div class="fader__knob">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="knob-container--pwm">
            <p>NORM</p>
            <div class="switch">
                <div class="switch__knob">
                </div>
            </div>
            <p>INV</p>
        </div>
        <div class="fader three">
            <p class="label">ENV</p>
            <p class="label">LFO</p>
            <p class="label">KBD</p>
            <div class="fader__scale">
                <div class="fader__slot">
                    <div class="fader__knob">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>