<div class="module__header--right-corner">
    <h4>VCF</h4>
</div>
<div class="module__control-group">
    <div class="label-container">
        <span class="label--wide">FREQ</span>
        <span class="label--wide">RES</span>
    </div>
    <div class="fader-container">
        <div class="fader">
            <div class="fader__scale--heavy"></div>
            <div class="fader__scale--light">
                <div class="fader__slot">
                    <div class="fader__knob" data-param="vcf-cutoff" data-value="1" title="Filter cutoff">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob" data-param="vcf-res" data-value="0" title="Filter Resonance">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="module__switch-control-group">
    <div class="knob-container--pwm">
        <p class="label">^</p>
        <div class="switch" data-param="vcf-invert" data-value="1">
            <div class="switch__knob" title="Filter invert">
            </div>
        </div>
        <p class="label">v</p>
    </div>
</div>
<div class="module__control-group">
    <div class="label-container">
        <span class="label">ENV</span>
        <span class="label">LFO</span>
        <span class="label">KBD</span>
    </div>
    <div class="fader-container">
        <div class="fader">
            <div class="fader__scale--heavy"></div>
            <div class="fader__scale--light">
                <div class="fader__slot">
                    <div class="fader__knob" data-param="vcf-envMod" data-value="0" title="Filter envelope mod">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob" data-param="lfo-freqMod" data-value="0" title="Filter LFO mod">
                        <hr>
                    </div>
                </div>
                <div class="fader__slot">
                    <div class="fader__knob" data-param="vcf-keyFollow" data-value="0" title="Filter key tracking">
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>