<div class="module__header--last">
    <h4>CHORUS</h4>
</div>

<div class="module__control-group--right-corner">
    <div class="button-container">
        <div class="button-container--top">
            <p>OFF</p>
            <div class="line"></div>
            <div class="button button--yellow pressed midi js-chorus" data-param="cho-chorusOff" data-value="1" data-length="2"></div>
        </div>
        <div class="button-container--top">
            <p>I</p>
            <div class="led"></div>
            <div class="button button--orange midi js-chorus" data-param="cho-chorusI" data-value="0" data-length="2"></div>
        </div><div class="button-container--top">
            <p>II</p>
            <div class="led"></div>
            <div class="button button--orange midi js-chorus" data-param="cho-chorusII" data-value="0" data-length="2"></div>
        </div>  
    </div>
    <div class="js-midi-region"></div>
</div>