<div class="module__header--last">
    <h4>CHORUS</h4>
</div>

<div class="module__control-group--right-corner">
    <div class="button-container">
        <div class="button-container--top">
            <p>OFF</p>
            <div class="line--chorus"></div>
            <div class="button button--yellow pressed js-chorus" data-param="cho-chorusToggle" data-value="0"></div>
        </div>
        <div class="button-container--top">
            <p>I</p>
            <div class="led"></div>
            <div class="button button--orange js-chorus" data-param="cho-chorusToggle" data-value="1"></div>
        </div><div class="button-container--top">
            <p>II</p>
            <div class="led"></div>
            <div class="button button--orange js-chorus" data-param="cho-chorusToggle" data-value="2"></div>
        </div>  
    </div>
    <div class="js-midi-region"></div>
</div>